@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

* {
    scroll-behavior: smooth;
    scroll-margin-top: 80px;
}

:root {
    --color-primary: #0c0c0c;
    --color-secondary: #FFF;
    --color-text: #FFF;
    --color-text-unselected: #d6d6d6;
    --color-text-alt: #000;
    --color-hover: #1b1b1b;
    --color-background: #FFF;
}

/* Media query*/
@media screen and (max-width: 1000px) {
    /* Show hamburguer */
    .nav-main {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    /* Hide hamburguer */
    .nav-main {
        display: flex;
    }
}

/* Nav */
.nav-main {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    margin: 0px;
    padding: 0px;
    background-color: var(--color-primary);
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.nav-main ul {
    display: flex;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.nav-button {
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text-unselected);
    margin: 16px;
    padding: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.nav-button:hover {
    color: var(--color-text);
    text-shadow: 0px 0px 30px var(--color-text);
}

.nav-button-alt {
    display: flex;
    align-content: center;
    background-color: var(--color-primary);
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    margin: 8px;
    margin-right: 10px;
    padding: 5px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.nav-button-alt img {
    width: 24px;
    height: auto;
    align-self: center;
    margin: 0px;
    margin-right: 6px;
    padding: 0px;
}

.nav-main-img {
    width: 256px;
    height: auto;
    margin: 8px;
    margin-right: 20px;
    margin-left: 16px;
}

/* Body */
.body-main {
    margin-top: 50dvh;
    background-color: var(--color-background);
    font-size: 18px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}

.container {
    background-color: var(--color-text-unselected);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.container-title {
    margin: 16px;
    padding: 0px;
    font-size: 32px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.container-content {
    margin: 16px;
    padding: 0px;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.footer-container {
    user-select: none;
    background-color: var(--color-text-alt);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.footer-logo {
    margin: 16px;
    width: 512px;
    height: auto;
}