/* fondo */
.main-background {
    background-color: #000000;
}

/* texto usado en titulos */
.main-body__title {
    color: #FFFFFF;
    font-family: 'VT323', monospace;
}

/* texto usado en parrafos */
.main-text {
    color: #FFFFFF;
    font-family: 'VT323', monospace;
}

/* texto usado en CMG */
.main-title__cmg {
    color: #FFFFFF;
    font-family: 'VT323', monospace;
    display: inline-flex;
}

/* logo de la empresa (1024x1024) */
.main-logo__cmg {
    height: 240px;
    width: 240px;
}

/* logo de la empresa (64x64) */
.main-logo__nav {
    height: 32px;
    width: 32px;
}

/* codigo del nav */
.main-nav {

}
